.containerApp {
	background-color: #ccc;
	height: 100dvh;
	display: grid;
	place-content: center;
}

.card {
	background-image: url('./assets/images/rectangle1.svg');
	background-repeat: no-repeat;

	background-size: 100% 90%;
}
