.container {
	background-color: #ccc;
	height: 100dvh;
	display: grid;
	place-content: center;
}

.card {
	background-image: url('./assets/images/pergamino.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
